{% extends 'layout.html' %}
{% set active_page = "contact" %}

{% block body %}
    <h1>You can contact us by email:</h1>
    <h5>Gerard Caravaca</h5>
    <p class="lead">   - <a href="mailto: gerard.caravaca.ibanez@estudiantat.edu" target="_blank" >gerard.caravaca.ibanez@estudiantat.edu</a></p>

    <h5>Armando Rodriguez</h5>
    <p class="lead">   - <a href="mailto: armando.rodriguez@estudiantat.upc.edu" target="_blank" >armando.rodriguez@estudiantat.upc.edu</a></p>

    <h5>Benjami Parellada</h5>
    <p class="lead">   - <a href="mailto: benjami.parellada@estudiantat.upc.edu" target="_blank" >benjami.parellada@estudiantat.upc.edu</a></p>
{% endblock %}
