{% extends 'layout.html' %}
{% set active_page = "contact" %}

{% block body %}
<style>
    h1, h2 {
        color: #333;
    }
    .contact-person {
        background: #fff;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
    }
    h5 {
        /* color: #007bff; */
        font-size: 18px;
    }
    .lead, p {
        font-size: 16px;
    }
    a {
        color: #007bff;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    .project-info {
        background: #fff;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex; /* Changed to flexbox */
        width: 100%;
        margin-bottom: 20px;
    }
    
    .project-description {
        flex: 1; /* Takes up available space */
        padding-right: 5px; /* Space between text and logo */
    }
    
    .logo {
        max-width: 15%; /* Adjust this value to set the maximum width */
        max-height: 15%; /* This will make sure the height is not more than the container's height */
        display: block;
        width: auto;  /* Adjusts the width to maintain aspect ratio */
        height: auto; /* Adjusts the height to maintain aspect ratio */
    }
</style>

<div class="project-info">
    <div class="project-description">
        <h2>Contact us</h2>
        <div class="contact-person">
            <h5>Gerard Caravaca</h5>
            <p class="lead">- <a href="mailto:gerard.caravaca.ibanez@estudiantat.upc.edu" target="_blank">gerard.caravaca.ibanez@estudiantat.upc.edu</a></p>
        </div>

        <div class="contact-person">
            <h5>Armando Rodriguez</h5>
            <p class="lead">- <a href="mailto:armando.rodriguez@estudiantat.upc.edu" target="_blank">armando.rodriguez@estudiantat.upc.edu</a></p>
        </div>

        <div class="contact-person">
            <h5>Benjami Parellada</h5>
            <p class="lead">- <a href="mailto:benjami.parellada@estudiantat.upc.edu" target="_blank">benjami.parellada@estudiantat.upc.edu</a></p>
        </div>
    </div>
</div>
{% endblock %}
