{% extends 'layout.html' %}
{% set active_page = "contact" %}

{% block body %}
<style>
    h1, h2 {
        color: #333;
    }
    .contact-person {
        background: #fff;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
    }
    h5 {
        /* color: #007bff; */
        font-size: 18px;
    }
    .lead, p {
        font-size: 16px;
    }
    a {
        color: #007bff;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    .project-info {
        background: #fff;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex; /* Changed to flexbox */
        width: 100%;
        margin-bottom: 20px;
    }
    
    .project-description {
        flex: 1; /* Takes up available space */
        padding-right: 5px; /* Space between text and logo */
    }
    
    .logo {
        max-width: 15%; /* Adjust this value to set the maximum width */
        max-height: 15%; /* This will make sure the height is not more than the container's height */
        display: block;
        width: auto;  /* Adjusts the width to maintain aspect ratio */
        height: auto; /* Adjusts the height to maintain aspect ratio */
    }


    .rating {
        display: inline-block;
    }

    .rating input {
        display: none;
    }

    .rating label {
        float: right;
        cursor: pointer;
        color: #ccc;
        -webkit-transition: color 0.3s;
        transition: color 0.3s;
    }

    .rating label:before {
        content: '\2605';
        font-size: 30px;
    }

    .rating input:checked ~ label,
    .rating label:hover,
    .rating label:hover ~ label {
        color: #007bff;
        -webkit-transition: color 0.3s;
        transition: color 0.3s;
    }
    .contact-form-container {
        background: #fff;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 100%;
        margin-bottom: 20px; /* Include padding and border in the element's total width and height */
    }

    .contact-form {
        background: #f9f9f9;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group textarea {
        width: 100%; /* Full width */
        margin-bottom: 15px; /* Space between inputs */
    }

    button[type="submit"] {
        margin-top: 10px; /* Space above the button */
    }

    /* Responsive styling */
    @media (max-width: 768px) {
        .contact-form-container {
            padding: 10px;
        }

        .contact-form {
            padding: 15px;
        }
    }
    .custom-button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 10px;
        margin: 0 10px;
        width: 20%;
    }

    .custom-button:hover {
        background-color: #0056b3;
    }

</style>

<div class="project-info">
    <div class="project-description">
        <h2>Contact us</h2>
        <div class="contact-person">
            <h5>Gerard Caravaca</h5>
            <p class="lead">- <a href="mailto:gerard.caravaca.ibanez@estudiantat.upc.edu" target="_blank">gerard.caravaca.ibanez@estudiantat.upc.edu</a></p>
        </div>

        <div class="contact-person">
            <h5>Armando Rodriguez</h5>
            <p class="lead">- <a href="mailto:armando.rodriguez@estudiantat.upc.edu" target="_blank">armando.rodriguez@estudiantat.upc.edu</a></p>
        </div>

        <div class="contact-person">
            <h5>Benjami Parellada</h5>
            <p class="lead">- <a href="mailto:benjami.parellada@estudiantat.upc.edu" target="_blank">benjami.parellada@estudiantat.upc.edu</a></p>
        </div>
    </div>
</div>

<div class="project-info">
    <div class="project-description">
        <h2>Rate us</h2>
        <div class="rating">
            <input value="5" name="rating" id="star5" type="radio">
            <label for="star5"></label>
            <input value="4" name="rating" id="star4" type="radio">
            <label for="star4"></label>
            <input value="3" name="rating" id="star3" type="radio">
            <label for="star3"></label>
            <input value="2" name="rating" id="star2" type="radio">
            <label for="star2"></label>
            <input value="1" name="rating" id="star1" type="radio">
            <label for="star1"></label>
        </div>
    </div>
</div>

<script>
    // Get the selected radio button value
    function getSelectedRating() {
        var selectedRating;
        // Get all radio buttons with the name "rating"
        var ratingRadios = document.getElementsByName('rating');
        // Loop through each radio button to find the selected one
        for (var i = 0; i < ratingRadios.length; i++) {
            if (ratingRadios[i].checked) {
                // If a radio button is checked, set its value to selectedRating
                selectedRating = ratingRadios[i].value;
                break;
            }
        }
        return selectedRating;
    }
    function createMailtoLink() {
      // Get user input for subject and body
      var userSubject = encodeURIComponent(document.getElementById('name').value);
      var userBody = encodeURIComponent(document.getElementById('message').value);

      var finalBody = userBody;
      // Additional rating information to append to the body
      rating = getSelectedRating();
      if (rating){
        var extraInfo = "Rating " + rating;
        finalBody = finalBody + "%0A%0A" + encodeURIComponent(extraInfo);
      }
      // Create the mailto link with user input and additional information
      var mailtoLink = "mailto:developers@wave2page.com" +
                       "?subject=" + userSubject +
                       "&body=" + finalBody;
      // Open the default email client with the pre-filled draft
      window.location.href = mailtoLink;
    }
</script>   

<div class="contact-form-container">
    <h2>Send us a message</h2>
    <form class="contact-form"  method="GET">    
        <div class="form-group">
            <label for="name">Subject:</label>
            <input type="text" id="name" name="subject" required>
        </div>
        <div class="form-group">
            <label for="message">Message:</label>
            <textarea id="message" name="body" required></textarea>
        </div>
        <button type="submit" class="custom-button" onclick="createMailtoLink()">Send Message</button>
    </form>
</div>
{% endblock %}
