{% extends 'layout.html' %}
{% set active_page = "home" %}

{% block body %}
<div class="jumbotron">
    <span>
      <h1 class="display-4">{{ app_data['html_title'] }}</h1>
      <h5>by {{ app_data['author'] }}</h5>
    </span> 
    
    <p class="lead"></p>

    <hr class="my-4">
    <p>Click here!</p>
    <form class="btn btn-primary btn-lg" method="POST" action="/upload" enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit" value="Upload">
    </form>

    {% if filename%}
        <p>The file '{{ filename }}' was successfully uploaded.</p>

        {% for image in png_files %}
            <li>
                <img src="{{image}}" alt="{{image}}" height="1000">
            </li>
        {% endfor %}
        
    {% endif %}

    <!-- <a class="btn btn-primary btn-lg" href="/contact" role="button">Contact</a> -->
  </div>
{% endblock %}
