{% extends 'layout.html' %}
{% set active_page = "home" %}


{% block body %}
<div class="jumbotron">
    <span>
      <h1 class="display-4">{{ app_data['html_title'] }}</h1>
      <h5>by {{ app_data['author'] }}</h5>
    </span>

    <hr class="my-4">

    <div class="parent">
      <form id="form_upload" method="POST" action="/upload" enctype="multipart/form-data">
        <div class="form-inside-right">
          <label>Premium mode</label>
          <div style="width: 15px;"></div>
          <input type="checkbox" id="premium" name="premium" checked>
        </div>
        <div style="height: 30px;"></div>
        <div class="form-inside">
          <label>Select the instruments to consider in the process:</label>
          <div class="switch-container">
            <label>Bass</label>
            <label class="switch">
              <input type="checkbox" id="bass" name="bass" checked>
              <span class="slider round"></span>
            </label>
      
            <label>Drums</label>
            <label class="switch">
              <input type="checkbox" id="drums" name="drums" checked>
              <span class="slider round"></span>
            </label>

            <label>Guitar</label>
            <label class="switch">
              <input type="checkbox" id="guitar" name="guitar" checked>
              <span class="slider round"></span>
            </label>

            <label>Piano</label>
            <label class="switch">
              <input type="checkbox" id="piano" name="piano" checked>
              <span class="slider round"></span>
            </label>

            <label>Vocals</label>
            <label class="switch">
              <input type="checkbox" id="vocals" name="vocals" checked>
              <span class="slider round"></span>
            </label>
          </div>
        </div>
        <div style="height: 30px;"></div>
        <div class="form-inside">
          <input type="file" name="file" class="form-control">
          <input id="upload_button" type="submit" class="custom-button" value="Upload" onclick="loading();">
        </div>
      </form>
    </div>

    <style>
      .switch-container {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
      }

      /* The switch - the box around the slider */
      .switch {
        position: relative;
        display: flex;
        width: 60px;
        height: 34px;
      }

      /* Hide default HTML checkbox */
      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      /* The slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input:checked + .slider {
        background-color: #2196F3;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }

      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }
    </style>

    <div id="loader">
      <div class="body-wavy">
        <div class="wavy">
          <span style="--i:1">L</span>
          <span style="--i:2">o</span>
          <span style="--i:3">a</span>
          <span style="--i:4">d</span>
          <span style="--i:5">i</span>
          <span style="--i:6">n</span>
          <span style="--i:7">g</span>
          <span style="--i:8">.</span>
          <span style="--i:9">.</span>
          <span style="--i:10">.</span>
        </div>
      </div>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="message">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}

    {% if transcription%}
      <div style="height: 15px;"></div>
      <h5>Song transcription:</h5>
      <h9>{{transcription}}</h9>
      <div style="height: 30px;"></div>
    {% endif %}

    {% if png_files%}
        {% for image in png_files %}
          <img src="{{image}}" alt="{{image}}" height="1000">
        {% endfor %}
    {% endif %}

    {% if to_zip %}
      <div class="form-group">
          <div class="child">
              <h5>Download your music sheet</h5>
              <a href="{{ to_zip }}" download="{{ to_zip.split('/')[-1] }}">
                  <button class="download-button">
                      <img src="{{ url_for('static', filename='icons/download_icon.svg') }}" alt="Download">
                  </button>
              </a>
          </div>
      </div>
    {% endif %}

    <style>
      .body-wavy{
        font-family: consolas;
        justify-content: center;
        align-items: center;
        display: flex;
        /* min-height: 100vh; */
      }
      .wavy {
        position: relative;
        -webkit-box-reflect: below -12px linear-gradient(transparent, rgb(0,0,0,0.3));
      }
      .wavy span{
        position: relative;
        display: inline-block;
        color: #003063;
        font-size: 2em;
        animation: animate 1s ease-in-out infinite;
        animation-delay: calc(0.1s * var(--i));
      }
      @keyframes animate {
        0%{
          transform: translateY(0px);
        }
        20%{
          transform: translateY(-20px);
        }
        40%,100%{
          transform: translateY(0px);
        }
      }
      div#loader {
        display: none;
      }

      .parent_center {
        margin: 1rem;
        padding: 2rem 2rem;
        text-align: center;
      }
      .parent {
        margin: 1rem;
        padding: 2rem 2rem;
        text-align: left;
      }
      .child {
        display: inline-block;
        padding: 1rem 1rem;
        vertical-align: middle;
      }
      .form-inside {
        display: flex;
        align-items: center; /* This ensures vertical alignment */
        justify-content: space-between; /* Adjusts horizontal spacing */
        vertical-align: middle;
      }
      .form-inside-right {
        display: flex;
        align-items: right; /* This ensures vertical alignment */
        justify-content: right; /* Adjusts horizontal spacing */
        vertical-align: middle;
      }
    
      .custom-button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px; /* Adjust as needed */
        line-height: 1.5; /* Adjust as needed */
      }
    
      input[type="file"] {
          font-size: 16px; /* Match the button's font-size */
          line-height: 1.5; /* Match the button's line-height */
          padding: 10px 20px; /* Match the button's padding */
          border-radius: 4px; /* Match the button's border-radius */
          border: 1px solid #ddd; /* Optional: if you want to match the button's border */
          margin-right: 8px; /* Optional: to give some space between the file input and the button */
          height: auto; /* To ensure the natural height based on padding and font size */
          -webkit-appearance: none; /* Removes the default styling on Webkit browsers */
          -moz-appearance: none; /* Removes the default styling on Firefox */
          appearance: none; /* Removes the default styling */
      }
    
      /* Style adjustments for the file input to visually match the button */
      input[type="file"]::-webkit-file-upload-button {
          background-color: #007bff;
          color: white;
          padding: 10px 20px;
          border-radius: 4px;
          border: none;
          cursor: pointer;
          font-size: 16px;
          line-height: 1.5;
      }

      .download-button {
          border-radius: 50%;
          width: 30px; /* Adjust as needed */
          height: 30px; /* Adjust as needed */
          line-height: 30px; /* Not necessary when using flexbox, can be removed */
          background-color: #007bff;
          color: white;
          border: none;
          cursor: pointer;
          display: flex; /* Using flexbox to center the content */
          justify-content: center; /* Center horizontally */
          align-items: center; /* Center vertically */
          padding: 0; /* Remove padding to avoid affecting the centering */
      }
      
      .download-button img {
          width: 20px; /* Adjust the size of the icon as needed */
          height: auto;
          filter: brightness(0) invert(1);
          /* text-align: center; Not necessary, remove this */
      }
      .download-button:hover {
          background-color: #0056b3; /* Hover effect to match .custom-button */
      }
        
    </style>

    <script type="text/javascript">
      function loading(){
          $("#loader").show();  
      }
    </script>

  </div>
{% endblock %}
