{% extends 'layout.html' %}
{% set active_page = "service" %}
 

{% block head %}
<!-- Include Google Material Icons -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
{% endblock %}
{% block body %}
    <style>
            
        form {
            background: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .form-group {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            gap: 10px; /* Adds a gap between label and input */
        }
        label {
            margin-right: 10px; /* Reduce or remove margin if needed */
            font-weight: bold;
            white-space: nowrap; /* Prevents the label from wrapping */
        }
        input[type="text"] {
            flex-grow: 1; /* Allows input to take up remaining space */
            padding: 8px;
            border-radius: 4px;
            border: 1px solid #ddd;
            box-sizing: border-box;
        }
        input[type="submit"] {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 10px;
        }
        input[type="submit"]:hover {
            background-color: #0056b3;
        }
        .message {
            color: #0b781d;
            margin-bottom: 20px;
        }
        .parent_center {
            margin: 0rem;
            padding: 2rem 2rem;
            text-align: center;
            justify-content: center;
            align-items: center;
            width: 100%;
            display: flex;
        }
        .in_columns {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
        }
        .parent {
            margin: 1rem;
            padding: 2rem 2rem;
        }
        .child {
            display: inline-block;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 2px;
            vertical-align: middle;
        }
        h2:nth-of-type(2) {
            margin-top: 30px; /* This adds space only above the second h2 element */
        }
        .custom-button {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 10px;
        }
    
        .custom-button:hover {
            background-color: #0056b3;
        }
        .download-button {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            background-color: #007bff; /* Match the color with .custom-button */
            color: white; /* Text color */
            border: none;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            display: inline-block; 
        }
        .download-button:hover {
            background-color: #0056b3; /* Hover effect to match .custom-button */
        }
        .download-button img {
            width: 20px; /* Adjust the size of the icon as needed */
            height: auto;
            filter: brightness(0) invert(1);
            text-align: center;
        }
        input[type="range"] {
            width: 100%; /* Adjust this value to control the width */
            margin: 0 5px; /* Adjust margin for proper alignment */
            padding: 0; /* Adjust padding if needed */
        }
        /* .volume-slider {
            display: flex;
            width: 100%; /* This makes the slider take up the full width of its container 
            margin: 0 10px; /* Adjust margins as needed 
            text-align: center;
        } */
        .label-container {
            display: flex;
            width: 100px; /* Adjust this width to fit your longest label */
            text-align: right; /* This ensures the labels are right-aligned */
        }
        .slider-and-button {
            display: flex;
            align-items: center;
            /*flex-grow: 1; /* This makes the slider and button fill the rest of the container */
            text-align: center;
        }
        div#loaderMidi {
            border: 16px solid #f3f3f3;
            border-top: 16px solid #3498db;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: none;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>

    <!-- Youtube service -->
    <h2>YouTube</h2>

    <form id="Youtube_download" action="/upload_file_youtube" method="post">
        <h5>Use a YouTube audio to start the process</h5>
        <div class="form-group">
            <label for="video_url">YouTube URL:</label>
            <input type="text" id="video_url" name="video_url">
        </div>
        <div class="form-group">
            <label for="filename">Filename:</label>
            <input type="text" id="filename" name="filename">
        </div>
        <input id="submitButtonYT" type="submit" value="Convert">
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="message">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}

    {% if filename%}
        <p>The file '{{ filename }}' was successfully uploaded.</p>

        {% for image in png_files %}
            <li>
                <img src="{{image}}" alt="{{image}}" height="1000">
            </li>
        {% endfor %}

    {% endif %}
    
    <!-- Service of independet tracks -->
    <h2>Independent tracks</h2>
    <script>
        function changeVolume(input, audioFile) {
            const audioElement = input.previousElementSibling;
            audioElement.volume = input.value;
        }
    </script>

    <form id="volume" action="/tracks_volume" method="post">
        <h5>Select an already processed audio</h5>
        <select name="select" id="filename">
            {% for audio in audios_available %}
                <option id="filename"value={{audio}}>{{audio}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Use">
    </form>

    {% if audio_files%}
        <div class="in_columns">
            <div class="child">
                <div id="audioContainer" class="parent_center">
                {% for audio_file in audio_files %}
                    <div class="in_columns">
                        <div class="child">
                            <div class="label-container">
                                <h5>{{(audio_file.split('/')[-1].split('.')[0]).capitalize()}}</h5>
                            </div>
                        </div>
                        <div class="child">
                            <audio src="{{ audio_file }}">
                                <a href="{{ audio_file }}"></a>
                            </audio>
                            <input class="volume-slider" type="range" min="0" max="1" step="0.01" value="100" oninput="changeVolume(this, '{{ audio_file }}')">
                        </div>
                        <div class="child">
                            <a href="{{ audio_file }}" download="{{ audio_file.split('/')[-1] }}">
                                <button class="download-button">
                                    <img src="{{ url_for('static', filename='icons/download_icon.svg') }}" alt="Download">
                                </button>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="child">
                <div class="parent_center">
                    <button class="custom-button" onclick="playPauseAll()">Play/Pause</button>
                    <button class="custom-button" onclick="resetAll()">Reset</button>
                </div>
            </div>
        </div>
        
        <script>
            function playPauseAll() {
                console.log("Playing/Pausing all...")
                audioContainer.querySelectorAll('audio').forEach(audio => {
                    if (audio.paused){
                        audio.play();
                    }
                    else{
                        audio.pause();
                    }
                });
            }
        
            function resetAll() {
                console.log("Pausing all...")
                audioContainer.querySelectorAll('audio').forEach(audio => {
                    audio.currentTime = 0;
                });
            }
        </script>
    {% endif %}

    &nbsp

    <!-- Service audio to midi -->
    <h2>Audio to MIDI</h2>

    <style>
        input[type="file"] {
          font-size: 16px; /* Match the button's font-size */
          line-height: 1.5; /* Match the button's line-height */
          padding: 10px 20px; /* Match the button's padding */
          border-radius: 4px; /* Match the button's border-radius */
          border: 1px solid #ddd; /* Optional: if you want to match the button's border */
          margin-right: 8px; /* Optional: to give some space between the file input and the button */
          height: auto; /* To ensure the natural height based on padding and font size */
          -webkit-appearance: none; /* Removes the default styling on Webkit browsers */
          -moz-appearance: none; /* Removes the default styling on Firefox */
          appearance: none; /* Removes the default styling */
        }
        
        /* Style adjustments for the file input to visually match the button */
        input[type="file"]::-webkit-file-upload-button {
            background-color: #007bff;
            color: white;
            padding: 10px 20px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            font-size: 16px;
            line-height: 1.5;
        }
        
        .form-group {
            display: flex;
            align-items: center;
        }
        
        /* If you want to vertically center everything in case of line-height differences */
        .form-group * {
            vertical-align: middle;
        }
    </style>

    <form id="audio_to_midi" action="/audio_to_midi" method="post" enctype="multipart/form-data">
        <h5>Upload the audio that you want to convert to MIDI</h5>
        <div class="form-group">
            <input type="file" name="file" class="form-control">
            <input id="upload_button" type="submit" class="custom-button" value="Convert" onclick="loading('#loaderMidi');">
        </div>
    </form>
    {% if to_midi %}
    <div class="form-group">
        <div class="child">
            <h5>Download your audio</h5>
            <a href="{{ to_midi }}" download="{{ to_midi.split('/')[-1] }}">
                <button class="download-button">
                    <img src="{{ url_for('static', filename='icons/download_icon.svg') }}" alt="Download">
                </button>
            </a>
        </div>
    </div>
    {% endif %}

    &nbsp

    <div id="loaderMidi"></div>

    <script type="text/javascript">
        function loading(name){
            $(name).show();  
        }
    </script>

</body>
</html>

{% endblock %}
