{% extends 'layout.html' %}
{% set active_page = "service" %}
    
{% block body %}

    <h1>{{ app_data['description'] }}</h1>


    <!-- Youtube service -->
    <h2>YouTube</h2>

    <form id="Youtube_download" action="/upload_file_youtube" method="post">
        <div class="form-group">
            <label for="video_url">YouTube URL:</label>
            <input type="text" id="video_url" name="video_url">
        </div>
        <div class="form-group">
            <label for="filename">Filename:</label>
            <input type="text" id="youtube_filename" name="filename">
        </div>
        <input id="submitButtonYT" type="submit" value="Use this audio">
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="message">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}

    {% if filename%}
        <p>The file '{{ filename }}' was successfully uploaded.</p>

        {% for image in png_files %}
            <li>
                <img src="{{image}}" alt="{{image}}" height="1000">
            </li>
        {% endfor %}

    {% endif %}

    <style>
        form {
            background: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .form-group {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            gap: 10px; /* Adds a gap between label and input */
        }
        label {
            margin-right: 10px; /* Reduce or remove margin if needed */
            font-weight: bold;
            white-space: nowrap; /* Prevents the label from wrapping */
        }
        input[type="text"] {
            flex-grow: 1; /* Allows input to take up remaining space */
            padding: 8px;
            border-radius: 4px;
            border: 1px solid #ddd;
            box-sizing: border-box;
        }
        input[type="submit"] {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 10px;
        }
        input[type="submit"]:hover {
            background-color: #0056b3;
        }
        .message {
            color: #0b781d;
            margin-bottom: 20px;
        }
        .parent_center {
            margin: 1rem;
            padding: 2rem 2rem;
            text-align: center;
        }
        .parent {
            margin: 1rem;
            padding: 2rem 2rem;
        }
        .child {
            display: inline-block;
            padding: 1rem 1rem;
            vertical-align: middle;
        }
    </style>


    <!-- Service of independet tracks -->
    <h2>Independent tracks</h2>
    <script>
        function changeVolume(input, audioFile) {
            const audioElement = input.previousElementSibling;
            audioElement.volume = input.value;
        }
    </script>

    <form id="volume" action="/tracks_volume" method="post">
        <div class="form-group">
            <label for="filename">Filename:</label>
            <input type="text" id="filename" name="filename">
        </div>
        <input type="submit" value="Use">
    </form>

    {% if audio_files%}
        <div id="audioContainer" class="parent_center">
        {% for audio_file in audio_files %}
            <div class="child">
            <h5>{{(audio_file.split('/')[-1].split('.')[0]).capitalize()}}</h5>
            <audio src="{{ audio_file }}">
                <a href="{{ audio_file }}"></a>
            </audio>
            <input type="range" min="0" max="1" step="0.01" value="100" oninput="changeVolume(this, '{{ audio_file }}')">
            </div>
        {% endfor %}
            <div class="parent_center">
                <button onclick="playPauseAll()">Play/Pause</button>
                <button onclick="resetAll()">Reset</button>
            </div>
        </div>

        <script>
            function playPauseAll() {
                console.log("Playing/Pausing all...")
                audioContainer.querySelectorAll('audio').forEach(audio => {
                    if (audio.paused){
                        audio.play();
                    }
                    else{
                        audio.pause();
                    }
                });
            }
        
            function resetAll() {
                console.log("Pausing all...")
                audioContainer.querySelectorAll('audio').forEach(audio => {
                    audio.currentTime = 0;
                });
            }
        </script>
    {% endif %}

</body>
</html>

{% endblock %}
