body {
    margin: 0;
    padding: 10px;
    color: #333;
    background-color: #f7f7f7;
}

.popup-container {
    border: 2px solid blue;
    border-radius: 5px;
    padding: 15px;
    background-color: #fff;
}

.popup-header {
    color: blue;
    margin: 0;
    margin-bottom: 10px;
}

.popup-instructions {
    margin: 0;
    margin-bottom: 20px;
}

.filename-input {
    display: block;
    width: calc(100% - 20px); /* Adjusted for padding */
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid blue;
    border-radius: 5px;
    font-size: 16px;
}

.shazam-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: blue;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

.shazam-button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.contact-button {
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid blue;
    border-radius: 5px;
    color: blue;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}
